

.universe-songs-list{
    list-style: none;
    padding: 0 0;
    margin: 20px 0;
}

.universe-songs-list-item{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.universe-songs-list-item-button{
    width: 100%;
    font-family: 'BadSignal';
    font-size: 19px;
}


.universe-song{
    overflow: hidden;
    transition: max-height 3000ms, min-height 3000ms;
}



.universe-song-top-section{
    position: relative;
    height: 40px;
    margin: 20px 0;
}

.universe-song-top-section-title{
    margin: 0 0;
    position: absolute;
    font-family: 'BadSignal';
    font-size: 20px;
    bottom: 50%;
    left: 10%;
    transform: translate(0%,50%);
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
}

.universe-song-top-section-line{
    position: absolute;
    bottom:0;
    left:10%;
    right:10%;
    height:1px;
    background-color: white;
}




.universe-song-description{
    text-align: center;
    text-justify: auto;
    padding: 0 10%;
    overflow-x: hidden;
}

.universe-song-lyrics{
    text-align: center;
}

.universe-song-lyrics-sentence{
    height: 20px;
    max-height: 20px;
    overflow: hidden;
}

.universe-song-button-close{
    display: block;
    position: absolute;
    bottom:50%;
    right: 10%;
    transform: translate(0%,50%);
}




@media only screen and (min-width: 870px){
    .lyrics-container{
        display: flex;
        justify-content: center;
        transition: justify-content 1s;
    }

    .universe-songs-list{
        order: 1;
        flex-grow: 0.2;
    }

    .universe-song{
        order: 2;
        flex: 0;
    }

    .us-newitem{
        flex: 0.0001;
        animation: flexGrow 500ms ease forwards;
    }

    .us-deleteitem{
        flex: 1;
        animation: flexShrink 500ms ease forwards;
    }

    @keyframes flexGrow{
        to{
            flex: 1;
        }
    }

    @keyframes flexShrink{
        to{
            flex: 0.01;
            flex: 0.0001;
        }
    }

    .universe-song-button-close{
        opacity: 1;
        transition: opacity 250ms;
    }

    .disappear-animation{
        opacity: 0;
    }

    .universe-song-content{
        margin: auto;
        min-width: 550px;
        max-width: 550px;
    }

}


