/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.universe-container{
  display: block;
  position: relative;
  padding: 130px 5px 15px 5px;

  background-image: -o-linear-gradient(bottom, rgb(0,0,0),rgb(128,0,0));

  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0,0,0)),to(rgb(128,0,0)));

  background-image: linear-gradient(to top, rgb(0,0,0),rgb(128,0,0));
  z-index:1;
  min-height:100%;

  clear: both;


}


.universe-content{
  color: white;
  clear: both;
}


.universe-presentation{
  padding: 10px 15px;;
  text-align: center;
  font-style: italic;
}


@media only screen and (min-width:1250px){
  .universe-container{
      padding: 130px 200px 15px 200px;
  }
}
