.admin-container{
    display: block;
    position: relative;
    padding: 130px 5px 15px 5px;
  
    background-image: linear-gradient(to top, rgb(0,0,0),rgb(128,0,0));
    z-index:1;
    min-height:100vh;

    color: white;
}

.admin-new-subscriber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}