.admin-container{
    display: block;
    position: relative;
    padding: 130px 10px 15px 10px;
    background-image: linear-gradient(to top, rgb(0,0,0),rgb(128,0,0));
    z-index:1;
    min-height:100vh;
    color: white;
}


.admin-subscriber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.admin-subscriber-elem{
    flex: 1 1 0;
    margin: 0 5px;
}

.admin-block-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.admin-tour{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.admin-tour-element{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 0 5px;
}




/* CSS For the tour form */
.admin-form-tour{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-form-tour-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 50%;
}

.admin-form-tour-field-elem{
    width: 50%;
}

.admin-form-tour-field-elem-field{
    padding: 10px;
    width: 100%;
}


.admin-form-tour-submit{
    margin-top: 10px;
}
/* ------------------------- */

/* CSS for the news form */
.admin-form-news-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.admin-form-news-field-label{
    width: 20%;
}

.admin-form-news-field-input{
    width: 80%;
}


/* Check process if the form is well filled */
.failed-hidden{
    display: none;
}

.failed-info{
    color: rgba(255,255,255,0.5);
    font-weight: lighter;
}

.field-failed{
    background-color: rgba(255,0,0,0.4);
}
/* ------------------------- */


@media only screen and (min-width: 990px){
    .admin-container{
        padding: 130px 200px 15px 200px;
    }
}




/* ------------    LYRICS PART    -----------------*/
.admin-lyrics-songs{
    margin-bottom: 20px;
    display: grid;
    grid-gap: 5px;
}

.admin-lyrics-songitem{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 5px;
    
}

.admin-lyrics-add-button{
    grid-column-start: 3;
}

.admin-lyrics-additem{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 5px;
}


.admin-editlyricsform{
    display: flex;
    flex-direction: column;   
}

.admin-editlyricsform label{
    margin-bottom: 5px;
}

.admin-editlyricsform input, .admin-editlyricsform textarea{
    margin-bottom: 20px;
    text-align: center;
}




.admin-menu-choices{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.admin-menu-choice{
    margin: 0 15px 15px 0;
}

.admin-menu-choice button{
    width: 200px;
    height: 200px;
}

.admin-menu-choice-button-focus{
    border-color: red;
}

.admin-view{
    position: relative;
}

.admin-close-button{
    position: absolute;
    top: 0;
    right: 0;
}


.admin-login{
    display: grid;
    margin: auto;
    padding: 10px;
    place-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
    border: solid thick white;
}

.admin-login-error{
    color: red;
}

.admin-presskit-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.admin-delete-confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:50%;
    left:50%;
    z-index:1000;
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 10px;
    border: solid white;
}

.admin-delete-confirmation-button{
    margin: 0 10px;
}

.admin-logout{
    position: fixed;
    right: 10px;
}