.about-container{
  display: block;
  position: relative;
  padding: 130px 5px 15px 5px;

  background-image: linear-gradient(to top, rgb(0,0,0),rgb(128,0,0));
  z-index:1;
  min-height:800px;
}

.about-biography{
  color: white;
  padding: 5px;
}



.about-member-biography-left{
  position: relative;
  clear: both;
  margin-bottom: 15px;
}

.about-member-biography-right{
  position: relative;
  clear: both;
  margin-bottom: 15px;
}

.about-title-right{
  position: absolute;
  top:0;
  right:0;
  margin: 0;
}



.about-title-left{
  position: absolute;
  top:0;
  right:31%;
  margin: 0;
}


.about-img-yohann{
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  max-height: 100%;
  width:30%;
  height: auto;
  border: solid white;
}

.about-img-roman{
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  max-height: 100%;
  width:30%;
  height: auto;
  border: solid white;
}

.about-band-biography{
  clear: both;
}

@media only screen and (min-width: 990px){
  .about-container{
    padding: 130px 200px 15px 200px;
  }
}