.home{
  display: block;
  position: relative;
  background-color: red;
  color:white;
}

.home-home{
    background-image: url("../../Assets/Couverture1.jpg");
    width: 100%;
    padding: 140px 10px 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-home-newsletterform{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-home-newsletterform-form{

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-home-newsletterform-form-element{
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.home-home-buttonnewsletter{
  font-size: 26px;
}
