header{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  padding: 1%;
  background-image: linear-gradient(to bottom, #000, #0008),
    url("../../Assets/concrete-wall.jpg");
  z-index:1000;
}


.header-left{
  flex-grow: 1;
}

.header-right{
  flex-grow: 1;
}

.header-logo{
  flex-grow: 0.5;
  text-align: center;
}

.link-header{
  display: block;
  text-decoration: none;
  color: inherit;
}

.link-header:hover{
  transform: scale(1.3);
}

.ul-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  color: white;
}
