.date-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date-links{
  display: flex;
  width:25%;
  flex-direction: row;
  align-items: center;
}

.date-place{
  display: block;
  width: 50%;
}

.date-place-city{
  font-weight: bolder;
}

.date-more{
  display: block;
  width: 50%;
  text-align: center;
}

.date-ticket{
  display: block;
  width: 50%;
  text-align: center;
}

.date-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  font-weight: bolder;
}
