.tour-container{
  display: block;
  position: relative;
  padding: 130px 200px 15px 200px;
  background-image: linear-gradient(to top, rgb(0,0,0),rgb(128,0,0));
  color:white;
  /*padding: 5px 200px;*/
  z-index:1;
}

.tour-list{
  list-style: none;
}

.tour-list li{
  padding: 15px;
}
