.title-container{
  display: inline-block;
  padding: 3px 15px;
  margin: 2px;
  background-image: linear-gradient(to top, #000, #0001),
  url("../../Assets/concrete-wall.jpg");

}

.title{
  display: block;
  text-align: center;
}

.title-text{
  display:inline;
  font-size: 37px;
  text-transform: uppercase;
  color: white;
}

